// Reset
html,
body
    margin 0
    padding 0

h1, h2, h3, h4
    margin 0


// Variables Globales

// Estilos
// html,
// body
//     font-family 'Roboto', sans-serif

#app
    background #eee
    width 100vw
    height 100vh
    display none
    header 
        h1 
            text-align center
            font-weight 100
    .title
        text-align center
    .body 
        .form
            .timer
                display grid
                grid-template-columns auto auto auto auto
                max-width max-content
                margin 0 auto
                padding 50px 0px
                .grid-item
                    text-align center
                    font-size 80px
                    font-weight 100
                    &.description
                        font-size 12px
            .buttons
                margin 0 auto 
                text-align center
